<!DOCTYPE html>
<html>
<head>
  <title>CotrolGastos</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "rails", "highcharts" %>
<%= stylesheet_link_tag "application", "token-input-facebook" %>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <%= javascript_include_tag "jquery.tokeninput" %>

<%= csrf_meta_tag %>
<script type="text/javascript">
  $(function () {
  $('#shared_time_shared_time_user_tokens').tokenInput('/users.json', { crossDomain: false	,
	    prePopulate: $('#shared_time_shared_time_user_tokens').data('pre'),
	theme: 'facebook'
	 });
});
</script>

</head>
<body bgcolor="#414141">
  <table width="75%" align="center" style="background:#ffffff" class="rounded-corners" height="600px">
	<tr>
		<th valign="top">
	<div id="user_nav"  >
	<% if user_signed_in? %>
	   
				Signed in as <%= current_user.email %>. Not you?
			    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %><br>

			
				<%= link_to "Home", home_index_path %>
				<%= link_to "Services", services_path %>
				<%= link_to "Shared Times", shared_times_path %>

		<% else %>
		  	
	    <%= link_to "Sign up", new_user_registration_path %> or
	    <%= link_to "Sign in", new_user_session_path %>
				

	  <% end %>
  	</div>

<table width="90%" align="center" style="background:#ffffff">
	
	  
	
  
  <tr>
	<th>
		<%= yield %>
	</th>
  </tr>
</table>
</th>
</tr>
</table>


</body>
</html>
